.container {
    background-color: white;
    width: 250px;
    height: 400px;
    margin: 30px;
    border-radius: 2%;
    padding: 5px;
    box-shadow: 5px 5px 5px 3px black;
}

.imgpeca {
    width: 250px;
}

.conteudo-card {
    
}

.nome {
    margin: 5p;
    border: 5px solid rgb(117, 202, 255);
}

.preco {
    margin: 10px;
    text-align: end;
    font-size: 40px;
    color: rgb(95, 175, 115);
}