<button (click)="getAllClientesAsync()">Clientes</button>

<ul>
    <li *ngFor="let cliente of clientList">
        <p>Nome: {{cliente.nome}} </p>
        <p>Cpf: {{cliente.cpf}}</p>
        <p>Endereco: {{cliente.endereco}}</p>
    </li>
</ul>

<input type="text" [(ngModel)]="clienteId" placeholder="Digite o id do cliente">
<button (click)="getClienteById()">Achar cliente</button>

<p>Nome: {{cliente.nome}}</p>
<p>Cpf: {{cliente.cpf}}</p>
<p>Endereco: {{cliente.endereco}}</p>

<input type="text" [(ngModel)]="dto.nome" placeholder="Nome">
<input type="text" [(ngModel)]="dto.cpf" placeholder="cpf">
<button (click)="addCliente()">Enviar</button>


