<div class="container">

    <!-- obter todos clientes -->
    <div class="obterTodosClientes">

        <button (click)="getAllClientesAsync()">Obter Todos Clientes</button>

        <ul class="clienteListgetall" *ngIf="clientList">
            <li *ngFor="let cliente of clientList" class="clienteDList">
                <p>Nome: {{cliente.nome}} </p>
                <p>Cpf: {{cliente.cpf | cpfMask}}</p>
            </li>
        </ul>

    </div>

    <!-- obter cliente -->
    <div class="buscarCliente">

        <form [formGroup]="formGetCpf" (submit)="getClienteByCpfAsync()">

            <input type="text" formControlName="cpf" mask="000.000.000-00" placeholder="Informe o Cpf da Busca">

            <!-- esse ! diz pro compilador confia em mim que nunca vai ser null -->
            <small *ngFor="let erro of filtrarErro(formGetCpf.get('cpf')!)">{{ erro }}</small><br>

            <button type="submit">Buscar</button>
        </form>

        <div class="clienteId" *ngIf="clienteSelecionado.id">
            <p>Nome: {{clienteSelecionado.nome}}</p>
            <p>Cpf: {{clienteSelecionado.cpf | cpfMask}}</p>
        </div>

    </div>

    <!-- add cliente -->
    <div class="adicionarcliente">

        <form [formGroup]="formAdd" (ngSubmit)="addClienteAsync()">

            <input type="text" formControlName="nome" placeholder="Nome">
            <small *ngFor="let erro of filtrarErro(formAdd.get('nome')!)">{{ erro }}</small><br>

            <input type="text" formControlName="cpf" mask="000.000.000-00" placeholder="CPF">
            <small *ngFor="let erro of  filtrarErro(formAdd.get('cpf')!)">{{ erro }}</small><br>

            <button type="submit">Adicionar</button>

        </form>

        <div class="clienteAdd" *ngIf="clienteAdicionado.id">
            <p>Nome: {{clienteAdicionado.nome}}</p>
            <p>CPF: {{clienteAdicionado.cpf}}</p>
        </div>
    </div>


    <!-- atualizar cliente -->
    <div class="atualizarCliente">
        <form [formGroup]="formUpdate" (submit)="updateClienteAsync()">

            <input type="text" formControlName="cpfAntigo" mask="000.000.000-00"
                placeholder="Informe o cpf do Usuário a atualizar">
            <small *ngFor="let erro of filtrarErro(formUpdate.get('cpfAntigo')!)">{{ erro }}</small><br>

            <!-- Nome -->
            <input type="text" formControlName="nome" placeholder="Nome">
            <small *ngFor="let erro of filtrarErro(formUpdate.get('nome')!)">{{ erro }}</small><br>

            <!-- CPF -->
            <input type="text" formControlName="cpf" mask="000.000.000-00" placeholder="CPF">
            <small *ngFor="let erro of filtrarErro(formUpdate.get('cpf')!)">{{ erro }}</small><br>

            <button type="submit">Atualizar</button>

        </form>

        <div class="clienteup" *ngIf="clienteAtualizado.id">
            <p>Nome: {{clienteAtualizado.nome}}</p>
            <p>CPF: {{clienteAtualizado.cpf}}</p>
        </div>

    </div>


    <!-- deletar cliente -->
    <div class="deletarcliente">
        <form [formGroup]="formDelete" (submit)="deleteClienteAsync()">

            <input type="text" formControlName="cpf" mask="000.000.000-00"
                placeholder="Informe o cpf do cliente a ser deletado">
            <small *ngFor="let erro of filtrarErro(formDelete.get('cpf')!)">{{ erro }}</small><br>

            <button type="submit">Deletar</button>
        </form>

        <p *ngIf="clienteDeletado">{{clienteDeletado}}</p>
    </div>

    <!-- busca deletar e atualizar por cpf -->
</div>