<div class="container">

    <!-- obter todos clientes -->
    <div class="formulario">

        <!--Fazer Requisicao-->
        <button (click)="getAllClientesAsync()">Obter Todos Clientes</button>

        <!--Mostrar Objeto-->
        <!-- <p *ngFor="let linha of ShowObject(getAllReturn)">{{linha}}</p> -->

        <div *ngFor="let cliente of getAllReturnList" class="listaDeClientes">
            <p *ngFor="let linha of ShowObject(cliente)" class="cliente-card">{{ linha }}</p>
        </div>
    </div>

    <!-- obter cliente -->
    <div class="formulario">

        <form [formGroup]="formGetCpf" (submit)="getClienteByCpfAsync()">

            <input type="text" formControlName="cpf" mask="000.000.000-00" placeholder="Informe o Cpf da Busca">

            <!-- esse ! diz pro compilador confia em mim que nunca vai ser null -->
            <small *ngFor="let erro of GetErros(formGetCpf.get('cpf')!)">{{ erro }}</small><br>

            <button type="submit">Buscar</button>
        </form>

        <p *ngFor="let linha of ShowObject(getReturn)" class="cliente-card">{{linha}}</p>

    </div>

    <!-- add cliente -->
    <div class="formulario">

        <form [formGroup]="formAdd" (ngSubmit)="addClienteAsync()">

            <input type="text" formControlName="nome" maxlength="100" placeholder="Nome">
            <small *ngFor="let erro of GetErros(formAdd.get('nome')!)">{{ erro }}</small><br>

            <input type="text" formControlName="cpf" mask="000.000.000-00" placeholder="CPF">
            <small *ngFor="let erro of  GetErros(formAdd.get('cpf')!)">{{ erro }}</small><br>

            <button type="submit">Adicionar</button>

        </form>

        <p *ngFor="let linha of ShowObject(addReturn)" class="cliente-card">{{linha}}</p>
    </div>


    <!-- atualizar cliente -->
    <div class="formulario">
        <form [formGroup]="formUpdate" (submit)="updateClienteAsync()">

            <input type="text" formControlName="cpfAntigo" mask="000.000.000-00"
                placeholder="Informe o cpf do Usuário a atualizar">
            <small *ngFor="let erro of GetErros(formUpdate.get('cpfAntigo')!)">{{ erro }}</small><br>

            <!-- Nome -->
            <input type="text" formControlName="nome" maxlength="100" placeholder="Nome">
            <small *ngFor="let erro of GetErros(formUpdate.get('nome')!)">{{ erro }}</small><br>

            <!-- CPF -->
            <input type="text" formControlName="cpf" mask="000.000.000-00" placeholder="CPF">
            <small *ngFor="let erro of GetErros(formUpdate.get('cpf')!)">{{ erro }}</small><br>

            <button type="submit">Atualizar</button>

        </form>

        <p *ngFor="let linha of ShowObject(updateReturn)" class="cliente-card">{{linha}}</p>

    </div>


    <!-- deletar cliente -->
    <div class="formulario">
        <form [formGroup]="formDelete" (submit)="deleteClienteAsync()">

            <input type="text" formControlName="cpf" mask="000.000.000-00"
                placeholder="Informe o cpf do cliente a ser deletado">
            <small *ngFor="let erro of GetErros(formDelete.get('cpf')!)">{{ erro }}</small><br>

            <button type="submit">Deletar</button>
        </form>

        <p *ngIf="deleteReturn" class="cliente-card">Cliente Deletado Com Sucesso</p>
    </div>

    <!-- busca deletar e atualizar por cpf -->
</div>