.container {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.obterporcpf {
    background-color: aqua;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;

}

.adicionar {
    background-color: aqua;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.atualizar {
    background-color: aqua;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.deletar {
    background-color: aqua;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}