.container {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.adicionar {
    background-color: aqua;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.atualizar {
    background-color: aqua;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.deletar {
    background-color: aqua;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}