<div class="container">

    <!-- getbycpf -->
    <div class="formulario">
        <form *ngIf="formGetCpf" [formGroup]="formGetCpf" (submit)="GetEnderecoByCpfAsync()">

            <input type="text" formControlName="cpf" mask="000.000.000-00" placeholder="Informe o cpf da busca">
            <small *ngFor="let erro of GetErros(formGetCpf.get('cpf')!)">{{erro}}</small><br>

            <button type="submit">Buscar</button>
        </form>

        <!--pra obter todos enderecos daquele cpf-->
        <div *ngFor="let endereco of getReturnList" class="listaDeEndereco">
            <p *ngFor="let linha of ShowObject(endereco)" class="endereco-card">{{linha}}</p>
        </div>

    </div>
    <!-- add -->
    <div class="formulario">
        <!-- sempre verifique se o form ja foi criado antes de usar o pipe senao da erro o pipe executa e nao acha nada -->
        <form *ngIf="formAdd" [formGroup]="formAdd" (ngSubmit)="AddEnderecoAsync()">

            <!-- primeiro chama o parametro do pipe,depois o pipe depois os outros parametros de tiver -->
            <!-- o 'as nome' guarda o valor retornado pela pipe em uma variável local -->
            <input type="text" formControlName="cep" placeholder="cep" mask="00000-000">
            <small *ngFor="let erro of GetErros(formAdd.get('cep')!)">{{erro}}</small><br>

            <input type="text" formControlName="estado" maxlength="100" placeholder="Estado">
            <small *ngFor="let erro of GetErros(formAdd.get('estado')!)">{{erro}}</small><br>

            <input type="text" formControlName="cidade" maxlength="100" placeholder="Cidade">
            <small *ngFor="let erro of GetErros(formAdd.get('cidade')!)">{{erro}}</small><br>

            <input type="text" formControlName="bairro" maxlength="100" placeholder="bairro">
            <small *ngFor="let erro of GetErros(formAdd.get('bairro')!)">{{erro}}</small><br>

            <input type="text" formControlName="rua" maxlength="100" placeholder="Rua">
            <small *ngFor="let erro of GetErros(formAdd.get('rua')!)">{{erro}}</small><br>

            <input type="text" formControlName="numero" maxlength="5" placeholder="Número">
            <small *ngFor="let erro of GetErros(formAdd.get('numero')!)">{{erro}}</small><br>

            <input type="text" formControlName="complemento" maxlength="150"
                placeholder="complemento(andar,bloco apartamento)">
            <small *ngFor="let erro of GetErros(formAdd.get('complemento')!)">{{erro}}</small><br>

            <input type="text" formControlName="clienteCpf" mask="000.000.000-00" placeholder="cpf do cliente">
            <small *ngFor="let erro of GetErros(formAdd.get('clienteCpf')!)">{{erro}}</small><br>

            <button type="submit">Adicionar</button>
        </form>

        <p *ngFor="let linha of ShowObject(addReturn)" class="endereco-card">{{linha}}</p>
    </div>

    <!-- put -->
    <div class="formulario">
        <form *ngIf="formPut" [formGroup]="formPut" (submit)="UpdateEnderecoAsync()">

            <input type="text" formControlName="enderecoSlug" maxlength="20" placeholder="informe o id do endereco">
            <small *ngFor="let erro of GetErros(formPut.get('enderecoSlug')!)">{{erro}}</small><br>

            <input type="text" formControlName="cep" placeholder="cep" mask="00000-000">
            <small *ngFor="let erro of GetErros(formPut.get('cep')!)">{{erro}}</small><br>

            <input type="text" formControlName="estado" maxlength="100" placeholder="Estado">
            <small *ngFor="let erro of GetErros(formPut.get('estado')!)">{{erro}}</small><br>

            <input type="text" formControlName="cidade" maxlength="100" placeholder="Cidade">
            <small *ngFor="let erro of GetErros(formPut.get('cidade')!)">{{erro}}</small><br>

            <input type="text" formControlName="bairro" maxlength="100" placeholder="bairro">
            <small *ngFor="let erro of GetErros(formPut.get('bairro')!)">{{erro}}</small><br>

            <input type="text" formControlName="rua" maxlength="100" placeholder="Rua">
            <small *ngFor="let erro of GetErros(formPut.get('rua')!)">{{erro}}</small><br>

            <input type="text" formControlName="numero" maxlength="5" placeholder="Número">
            <small *ngFor="let erro of GetErros(formPut.get('numero')!)">{{erro}}</small><br>

            <input type="text" formControlName="complemento" maxlength="150"
                placeholder="complemento(andar,bloco apartamento)">
            <small *ngFor="let erro of GetErros(formPut.get('complemento')!)">{{erro}}</small><br>

            <input type="text" formControlName="clienteCpf" mask="000.000.000-00" placeholder="cpf do cliente">
            <small *ngFor="let erro of GetErros(formPut.get('clienteCpf')!)">{{erro}}</small><br>

            <button type="submit">Atualizar</button>
        </form>

        <p *ngFor="let linha of ShowObject(updateReturn)" class="endereco-card">{{linha}}</p>

    </div>

    <!-- delete -->
    <div class="formulario">
        <!-- delete -->
        <form *ngIf="formDelete" [formGroup]="formDelete" (submit)="DeleteEnderecoAsync()">

            <input type="text" formControlName="enderecoSlug" maxlength="20" placeholder="informe o id do endereco">
            <small *ngFor="let erro of GetErros(formDelete.get('enderecoSlug')!)">{{erro}}</small><br>

            <button type="submit">Deletar</button>
        </form>

        <p *ngIf="deleteReturn" class="endereco-card"> Deletado com sucesso</p>
    </div>
</div>